body {
  background-color:blue;
  background-repeat:no-repeat;
  padding:0%;
  margin:40%;
  font: 80% Arial, Helvetica, sans-serif;
}
.sidebar {
  grid-area: sidebar;
}
.content {
  grid-area: content;
}
.header {
  grid-area: header;
}
.footer {
  background-color: #999;
}
.wrapper {
  display: grid;
  grid-template-columns: 120px 120px 120px;
  grid-template-areas:
    "....... header header"
    "sidebar content content"
    "footer footer footer"
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}
.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
